.tableContainer{
    border: 2px solid;
    margin: 0 auto;
}

.tableContainer > tr >th{
    margin: 100px;
}

.row{
    border: 2px solid;
}

table {
    border-collapse: collapse;
}

th{
    padding: 10px;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: 700;
    font-size: 15pt
}

td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

tr{
    margin: 10px;
    margin-bottom: 1px solid;
    background-color: antiquewhite;
}

